<div class="">
    <h1 class="display-4">Bem-vindo ao blog do Node</h1>
    <p class="lead">asdhasodihasd asod asopdjasid asdoajs doas doa dal</p>
    <hr class="my-4">
    <a href="#" class="btn btn-primary btn-lg">Crie uma conta</a>
</div>

<hr>

<h2>Postagens recentes</h2>

{{#each postagens}}
<div class="card">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Data de publicação: {{data}}</small>
    </div>
</div>
{{else}}
<h5>Nehnuma postagem</h5>
{{/each}}